.send-message {
  background-color: #46B1E1;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  border: 1px solid #46B1E1;
  text-decoration: none;
  p {
    margin: 0;
  }
}

.sent-message {
  background-color: #fff;
  color: #46B1E1;
  border-radius: 15px;
  padding: 10px 10px;
  border: 1px solid #46B1E1;
  text-decoration: none;
  p {
    margin: 0;
  }
}
