<div class="row ml-3 my-3 test">
  <%= render "layouts/errors", obj: post %>
</div>

<div id="content">
  <%= render "post_display", obj: post, user_route: (current_user == post.user ? mypage_path : user_path(post.user)), post_route: post_path(post), circles: circles %>
</div>

<% if user_signed_in? %>
<div class="d-none" id="edit-form">
  <%= render "form", post: post, submit_text: "保存", route: post_path, circles: circles, async: false %>
  <div class="row ml-1">
    <div class="col text-center">
      <button type="button" class="btn-custom-red cancel-edit">編集画面を閉じる</button>
    </div>
  </div>
  <% end %>
</div>
