
#calendar {
  .fc-toolbar-title {
    color: #46B1E1;
  }

  .fc-scrollgrid-liquid {
    border-color: #46B1E1;
  }
  
  .fc-daygrid-day {
    border-color: #46B1E1;
  }
  
  .fc-col-header-cell {
    border-color: #46B1E1;
  }

  .fc-col-header-cell-cushion {
    color: #46B1E1;
  }
  
  .fc-scrollgrid {
    border-color: #46B1E1;
  }
  
  .fc-daygrid-day-number {
    color: #46B1E1;
  }
}