<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">投稿</h3>
    </div>
    <div class="col-auto my-auto">
      <button class="btn-custom-blue edit-btn">投稿編集</button>
    </div>
    <div class="col-auto my-auto">
      <%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-custom-red" %>
    </div>
  </div>

  <div id="js-post-edit">
    <%= render "public/posts/post_edit", post: @post, circles: @circles, user_route: admin_user_path(@post.user) %>
  </div>

  <div class="row my-5 bg-gray">
    <div class="col">
      <div class="row my-3">
        <div class="col text-center">
          <p class="font-weight-bold">コメント</P>
        </div>
      </div>

      <div id="js-post-comment-edit">
        <%= render "public/posts/post_comment_edit",  post_comments: @post_comments %>
      </div>

    </div>
  </div>
</div>
