<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">
        <% if @range == "user" %>
          ユーザー
        <% elsif @range == "post" %>
          投稿
        <% elsif @range == "circle" %>
          サークル
        <% end %>
        検索結果
      </h3>
    </div>
  </div>
  
  <% if @range == "user" %>
    <%= link_to (current_user == obj ? mypage_path : user_path(obj)) do %>
      <% @users.each do |user| %>
        <%= render "public/users/user_display", obj: user %>
      <% end %>
    <% end %>

  <% elsif @range == "post" %>
    <% @posts.each do |post| %>
      <%= render "public/posts/post_display", obj: post, obj: post, user_route: (current_user == post.user ? mypage_path : user_path(post.user)), post_route: post_path(post) %>
    <% end %>
  <% end %>
</div>