.user-name {
  color: #46B1E1;
  font-weight: bold;
  font-size: 30px;
}

.btn-follow-position {
  position: absolute;
  bottom: 2px;
}

.post-background {
  padding: 20px 10px;
  width: 90%;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
}

.user-introduciton p {
  margin: 0;
}

#tab-menu .active {
  background-color: #F2F2F2;
  margin: 0 1px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

#tab-menu .inactive {
  background-color: #46B1E1;
  margin: 0 1px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

#tab-menu a {
  white-space: nowrap;
  overflow-wrap: break-word;
}

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width:768px) {
  .large-icon {
    font-size: 8vh;
  }
}