.dot-image {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.dot-image-text {
  background-color: #fff;
  position: absolute;
  width: 55%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  .btn {
    margin: 3px;
    background-color: #83CBEB;
    font-weight: bold;
    color: #fff;
    padding: 7% 25%;
    border: 3px solid transparent;
  }
  .btn:hover {
    background-color: white;
    border: 3px solid #83CBEB;
    color: #83CBEB;
  }
  p {
    white-space: nowrap;
    overflow-wrap: break-word;
  }
}

.ranking {
  height: 200px;
}

.how-to-use-row {
  margin-bottom: 15%;
}

.how-to-use {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #C1E5F5;
  border-radius: 15px;
}

.how-to-use-title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.how-to-use-body {
  font-size: 15px;
  color: #000;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.paragraph-background {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
}

.about-content {
  margin: 200px 200px;
}

.crown-1 {
  font-size: 8vh;
  color: #FFFF00;
}

.crown-2 {
  font-size: 8vh;
  color: #BFBFBF;
}

.crown-3 {
  font-size: 8vh;
  color: #C04F15;
}

.hidden {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 2.5s ease-out, transform 0.6s ease-out;
}

.hidden-left {
  transform: translateX(-50px);
}

.hidden-right {
  transform: translateX(50px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.item {
  white-space: nowrap;
  overflow-wrap: break-word;
}

@media screen and (max-width:768px) {
  .about-content {
    margin: 50px 0px;
  }
}