.splash {
  margin: 160px auto;
}

.splash-text {
  font-size: 30px;
}

.search-box {
  padding: 30px 30px;
}

.search-title {
  background-color: #83CBEB;
  color: #fff;
  border-radius: 15px;
  padding: 20px 30px;
}

@media screen and (max-width:768px) {  
  .splash {
    margin: 80px auto;
  }

  .splash-text {
    font-size: 15px;
  }
  
  .splash-person {
    font-size: 10px;
  }
  
  .search-box {
    padding: 0px;
  }

  .search-title {
    padding: 3px;
    margin-bottom: 5px;
  }
}