<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">ユーザー一覧</h3>
    </div>
  </div>

  <% @users.each do |user| %>
    <%= link_to admin_user_path(user) do %>
      <%= render "public/users/user_display", obj: user %>
    <% end %>
  <% end %>
</div>