<div class="container">
  <div class="row my-5">
    <div class="col-auto text-center">
      <h3 class="page-title my-auto">ログイン</h3>
    </div>
  </div>
  
  <div class="row ml-3">
    <%= render "layouts/errors", obj: resource %>
  </div>

  <%= render "login_form" %>

  <div class="row my-3">
    <p class="col text-blue text-center">
      登録は<%= render "public/shared/links" %>から
    </p>
  </div>

</div>