<div class="container">
  <div class="row my-5">
    <div class="col-md-auto col-12 text-center">
      <h3 class="page-title-red my-auto">退会確認</h3>
    </div>
  </div>

  <div class="fit-blue-border">
    <div class="row">
      <div class="col">

        <div class="row unsubscribe-messasge">
          <div class="col text-center">
            <p class="h4 wbr">退会しても<wbr>よろしいですか?</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center text-danger">
            <p class=wbr>※退会すると投稿機能やサークル<wbr>参加機能が使用できなくなります。</p>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-6 text-center">
            <%= link_to "退会", withdraw_path, method: :patch, class: "btn-custom-red" %>
          </div>
          <div class="col-6 text-center">
            <%= link_to "戻る", mypage_path, class: "btn-custom-blue" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>