<% if user_signed_in? %>
  <button class="new_post_btn" id="openPostModalButton">
    <span class="new_post_btn_icon"><i class="fa-solid fa-pen-nib"></i></span>
    <span class="new_post_btn_text">新規投稿</span>
  </button>
  <div class="new_circle_btn" id="openCircleModalButton">
    <span class="new_circle_btn_icon"><i class="fa-solid fa-person-circle-plus"></i></span>
    <span class="new_circle_btn_text">サークル作成</span>
  </div>
<% end %>